@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    background-color: #f8f8ff;
    background-image: url(https://images.unsplash.com/photo-1548266652-99cf27701ced?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2xvdWRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
